/*
CSE 190 M, Spring 2009, Marty Stepp
Homework 4: NerdLuv
Stylesheet for HTML forms / basic PHP program
You should modify this stylesheet as necessary to reproduce the expected page.
*/

/* provided styles */

* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

body {
	background-color: white;
	padding: 1em;
}

#bannerarea {
	margin-bottom: 2em;
}

div {
	margin-top: 0.5em;
}

.info {
	padding-left: 160px;
}

#main {
	overflow: hidden;
	width: 32em;
}

.match {
	margin-bottom: 3em;
}

.name {
	background-color: #E0E0FF;
	clear: left;
}

.name img {
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
}

#seeking {
	margin-top: 2em;
}

#w3c {
	clear: both;
}

#w3c img {
	border-width: 0px;
}
#form{
    float: left;
    top: -40px;
    position: relative;
}
.form-title{
    padding: 0.2em;
    background-color: #FFFFFF;
    border: 2px;
    border-color: #999999;
    border-style: outset;
    width: 10em;
    left: 10px;
    top: 20px;
    position: relative;
}
.form-body{
    padding-left: 1em;
    float: left;
    background-color: #E0E0FF;
    border: 2px;
    border-color: #999999;
    border-style: outset;
}
.label{
    width: 11em;
    float: left;
}
.set{
    float: left;
}
.set input{
    border: 2px;
    border-style: inset;
    border-color: #999999;
}
#signup{
    background-color: #FFAAAA;
    font-weight: bold;
    font-size: 120%;
    float: left;
    border: 2px outset;
    margin: 1em;
    cursor: pointer;
}
.pair{
    float: left;
    clear: both;
}
#ceil,#floor,#age,#personality{
    width: 5em;
}
/* your additional styles go here */
